{% assign variant_images = product.images | map: 'src' %}
{% assign product_tags = product.metafields.custom.product_tag.value %}

<section class="product-section">
  <div class="product-gallery" x-data="Slider()">
    <div class="custom-slider" x-ref="slider">
      {% for image in variant_images %}
        <div class="custom-slide">
          <img class="product-image" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
        </div>
      {% endfor %}
    </div>

    <div class="indicator">
      <button class="custom-slider-button" @click="prev()">❮</button> <span x-text="`${active} / ${total}`"></span>
      <button class="custom-slider-button" @click="next()">❯</button>
    </div>
  </div>
  <div
    class="product-overview"
    x-data="{ discount: 0 }"
    x-init="discount = Math.round((({{ product.compare_at_price | default: 0 }} - {{ roduct.price }}) / {{ product.compare_at_price | default: 1 }}) * 100);"
  >
    <p>{{ product_tags }}</p>
    <h1 class="product-title">{{ product.title }}</h1>
    <div class="product-price-wrapper">
      <p class="compare-at-price">{{ product.compare_at_price | money }}</p>
      <p class="product-price">{{ product.price | money }}</p>
    </div>

    <p>{{ product.description }}</p>
  </div>
</section>
